
/*html related css (not classes or id's)*/

body {
    text-align: center;
    background-image: linear-gradient(#123456,#000000);
}

table {
    border: 0;
    margin: auto;
    padding: 20px;
    width: max-content;
    height:max-content ;
    border-radius: 10%;
    background-color: #0a0e29;
}

button {
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 40px;
    font-family: monospace;
    background: rgb(5, 0, 31);
    border-radius: 1.5rem;
   
    transition: all 0.5;

    color: skyblue;
    border: 4px solid #0c003f;
    filter: drop-shadow(0 0 0.125em #0c1a77) drop-shadow(0 0 10px #0c1b80);
}

button:hover {
    width: 120px;
    height: 120px;
    margin:0;
}

h1 {
    font-size: 30px;
    font-family: monospace;
    transition: filter 0.25s;
    filter: drop-shadow(0 0 0.125em #3d56fc) drop-shadow(0 0 10px #5f74ff);
    color: white;
}

h6 {
    color: skyblue;

}








/*the js hiding/showing in the frontend */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    transition-delay: 0;
}
.show {
    filter: blur(0px);
    transform: translateX(0%);
    opacity: 1;

}

