
/*html related css (not classes or id's)*/

body {
    text-align: center;
    background-image: linear-gradient(to right,#123456,#000000);

    background-color: #000000;
}

table {
    border: 0;
    margin: auto;
    padding: 20px;
    width: max-content;
    height:max-content ;
    border-radius: 10%;
    background-color: #0a0e29;
    filter: drop-shadow(0 0 0.125em #3d56fc) drop-shadow(0 0 10px #5f74ff);

}

button {
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 40px;
    font-family: monospace;
    border-radius: 1.5rem;
    background-image: linear-gradient(to right, rgb(33, 5, 82) , rgb(6, 0, 32));
    border: 0px;
    transition: all 0.25s;
    color: skyblue;
    filter: drop-shadow(0 0 0.125em #0c1a77) drop-shadow(0 0 10px #0c1b80);
}

button:hover {
    width: 120px;
    height: 120px;
    margin:0;
    transition: all 0.1s;

}

h1 {
    font-size: 30px;
    font-family: monospace;
    transition: filter 0.25s;
    filter: drop-shadow(0 0 0.125em #3d56fc) drop-shadow(0 0 10px #5f74ff);
    color: white;
}

h6 {
    font-size: 15px;
    font-family: monospace;
    transition: filter 0.25s;
    filter: drop-shadow(0 0 0.025em #3d56fc) drop-shadow(0 0 2px #5f74ff);
    color: white;

}








/*the js hiding/showing in the frontend */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
    transition-delay: 0;
}
.show {
    filter: blur(0px);
    transform: translateX(0%);
    opacity: 1;

}


